Mutual Information

In [1]:
%pip install feature-engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature-engine
  Downloading feature_engine-1.5.2-py2.py3-none-any.whl (290 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 290.0/290.0 KB 9.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.21.6)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature-engine) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature-engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature-engine) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels>=0.11.1->feature-engine) (1.15.0)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.5.2

In [6]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import TruncatedSVD
from sklearn.utils.extmath import randomized_svd
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import math
import pandas as pd
import pandas as pd
from sklearn.metrics import mutual_info_score
from sklearn.feature_selection import mutual_info_classif, mutual_info_regression
from feature_engine.encoding import RareLabelEncoder, OrdinalEncoder

Data set loading

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
dt1 = pd.read_csv(r'drive/MyDrive/mutualinformationdataset/Lorenz.csv')
dt2 = pd.read_csv(r'drive/MyDrive/mutualinformationdataset/Rossler.csv')
dt3 = pd.read_csv(r'drive/MyDrive/mutualinformationdataset/ECG.csv')
dt4 = pd.read_csv(r'drive/MyDrive/mutualinformationdataset/random.csv')
dt5 = pd.read_csv(r'drive/MyDrive/mutualinformationdataset/sinx.csv')

In [11]:
milorenz1 = mutual_info_regression(dt1['X'].to_frame(), dt1['Y'], discrete_features=[False])
milorenz2 = mutual_info_regression(dt1['X'].to_frame(), dt1['Z'], discrete_features=[False])
milorenz3 = mutual_info_regression(dt1['Z'].to_frame(), dt1['Y'], discrete_features=[False])

In [12]:
print(milorenz1,milorenz2,milorenz3)

[1.02717275] [0.29758534] [0.03717577]

In [13]:
mirossler1 = mutual_info_regression(dt2['X'].to_frame(), dt2['Y'], discrete_features=[False])
mirossler2 = mutual_info_regression(dt2['X'].to_frame(), dt2['Z'], discrete_features=[False])
mirossler3 = mutual_info_regression(dt2['Z'].to_frame(), dt2['Y'], discrete_features=[False])

In [14]:
print(mirossler1,mirossler2,mirossler3)

[0.72920933] [1.7941764] [0.49513515]

In [21]:
dt3

      Unnamed: 0    1    2    3    4    5    6    7    8    9   10   11   12
0              0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1              1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2              2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3              3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4              4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...          ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
4091        4091  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4092        4092  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4093        4093  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4094        4094  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4095        4095  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[4096 rows x 13 columns]

In [26]:
ecgresults = {}
for i in range(1,13):
  for j in range(i+1,13):
    if i == j:
      continue
    ecgresults[str(i) + "Vs" + str(j)] = mutual_info_regression(dt3[str(i)].to_frame(), dt3[str(j)], discrete_features=[False])[0]

In [27]:
ecgresults

{'1Vs2': 1.425731473363463,
 '1Vs3': 0.9946504351488521,
 '1Vs4': 1.7097644479705645,
 '1Vs5': 1.0771959055507292,
 '1Vs6': 1.9759774538504873,
 '1Vs7': 0.9993031278950646,
 '1Vs8': 1.2950901575424143,
 '1Vs9': 1.2129858047574213,
 '1Vs10': 1.19863382333401,
 '1Vs11': 1.2751954672009727,
 '1Vs12': 1.2592061279502236,
 '2Vs3': 0.9680790515298501,
 '2Vs4': 1.0269183340353991,
 '2Vs5': 1.6683336537065916,
 '2Vs6': 1.914080588870108,
 '2Vs7': 0.9954586972859278,
 '2Vs8': 1.2851476542398803,
 '2Vs9': 1.2188807808902378,
 '2Vs10': 1.18797899433063,
 '2Vs11': 1.264373070834317,
 '2Vs12': 1.277657519638356,
 '3Vs4': 1.224395054943281,
 '3Vs5': 1.2606779635578107,
 '3Vs6': 1.034786399965478,
 '3Vs7': 0.8482086424685074,
 '3Vs8': 1.0082192134888426,
 '3Vs9': 0.9794450841741971,
 '3Vs10': 0.8909378035586508,
 '3Vs11': 0.8065873368599341,
 '3Vs12': 0.802095900588176,
 '4Vs5': 0.9031989449803026,
 '4Vs6': 1.3287917506886062,
 '4Vs7': 0.8591333524835347,
 '4Vs8': 1.093541155245946,
 '4Vs9': 1.0174787817078297,
 '4Vs10': 0.9960314735147984,
 '4Vs11': 0.975862547491845,
 '4Vs12': 0.9582071705555739,
 '5Vs6': 1.3389118290954256,
 '5Vs7': 0.8618260723748179,
 '5Vs8': 1.0149722226569642,
 '5Vs9': 1.0079898523880777,
 '5Vs10': 1.0323983544364705,
 '5Vs11': 1.027775431660194,
 '5Vs12': 1.0196887489888349,
 '6Vs7': 1.0127724295818687,
 '6Vs8': 1.2862658398924118,
 '6Vs9': 1.2666249154823968,
 '6Vs10': 1.2246121087358288,
 '6Vs11': 1.3096399820318743,
 '6Vs12': 1.3102867336867101,
 '7Vs8': 1.19137921436645,
 '7Vs9': 1.142914134609612,
 '7Vs10': 1.0127028453727118,
 '7Vs11': 0.9113985088652656,
 '7Vs12': 0.9193476952799529,
 '8Vs9': 1.695527280694372,
 '8Vs10': 1.3417147390126836,
 '8Vs11': 1.135344475159732,
 '8Vs12': 1.1498499785797245,
 '9Vs10': 1.5042106042280432,
 '9Vs11': 1.2318315843790302,
 '9Vs12': 1.107942394005092,
 '10Vs11': 1.4474226517818254,
 '10Vs12': 1.1617501960900025,
 '11Vs12': 1.199859318197107}

In [28]:
mirandom = mutual_info_regression(dt4['x'].to_frame(), dt4['x1'], discrete_features=[False])[0]

In [29]:
mirandom

0

In [34]:
misinx = mutual_info_regression(dt5['x'].to_frame(), dt5['Sinx'], discrete_features=[False])[0]

In [35]:
misinx

5.16683357509206